# Dependencies
node_modules/

# Builds
.dist/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.DS_Store
.vscode/
.idea/

# Env
.env
server/.env

# Runtime data
server/data/minted.json
node_modules/
.next/
out/
dist/
build/
.env*
.DS_Store
.vscode/
.idea/
.turbo/
server/.env
.data/*.json
